@font-face { font-family: BungeeOutline-Regular;
			 src: url('./BungeeOutline-Regular.ttf'); }
@font-face { font-family: BungeeHairline-Regular;
			 src: url('./BungeeHairline-Regular.ttf'); }

@viewport {
 width: device-width ;
 zoom: 1.0 ;
}

/*Global*/
.container{
  width:100%;
  margin-left:auto;
	margin-right:auto;
  overflow:hidden;
  top:0px;
}
.button{
	cursor: pointer;
	font-family: BungeeHairline-Regular;
}

/* home page */
#canvas_body_div {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -2;
}

#luisa {
	position: absolute;
	top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
	font-family: BungeeOutline-Regular;
	font-size: 60px;
	color: black;
}

#index-about{
	position: absolute;
	font-family: BungeeOutline-Regular;
	font-size:40px;
	top:400px;
	left:20%;
	text-decoration: none;
}

#index-projects{
	position: absolute;
	font-family: BungeeOutline-Regular;
	font-size:40px;
	top:400px;
	right:20%;
	text-decoration: none;
}

#new_boxes .left {
	float:left;
	max-width:180px;
	margin-top:8%;
	margin-left:20%;
}
#new_boxes .right {
	float:right;
	width:180px;
	margin: auto;
	margin-top:8%;
	margin-right:20%;
}

#new_boxes .box img{
	width:150px;
}

#back{
	position: absolute;
	z-index:2;
	top:0;
	left:0;
	font-size:25px;
	color: black;
	font-family: BungeeOutline-Regular;
}



/* ABOUT PAGE */

#canvas_about{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
	/* height: 100%; */
	margin: 0;
	z-index: -2;

}

#about_title {
	position: absolute;
	top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
	font-family: BungeeOutline-Regular;
	font-size: 50px;
}

#pic {
	position: absolute;
	top: 90px;
    left: 50%;
    transform: translate(-50%, 0);
  }

#about {
	position:absolute;
	z-index:1;
	color:black;
	top:650px;
	left:50%;
	margin-bottom: 50px;
	transform: translate(-50%, 0);
	width:80%;
	/* background: #ADD8E6; */
	font-family: BungeeHairline-Regular;
	font-size:20px;
}

#click{
	position: absolute;
	z-index:1;
	top: 50px;
	left:0px;
	font-family: BungeeHairline-Regular;
	font-size:30px;
}


#research{
	max-width:28%;
	z-index: 2;
	position:absolute;
	font-size: 16px;
	left:0%;
	top:100px;
	color: black;
	font-family: BungeeHairline-Regular;
}

#videogame{
	max-width:28%;
	z-index: 2;
	position:absolute;
	font-size: 16px;
	left:0%;
	top:160px;
	color: black;
	font-family: BungeeHairline-Regular;
}


#linkedin{
	max-width:48%;
	z-index: 2;
	position:absolute;
	font-size: 16px;
	left:0%;
	top:240px;
	color: black;
	font-family: BungeeHairline-Regular;
}

#github{
	max-width:28%;
	z-index: 2;
	position:absolute;
	font-size: 16px;
	left:0%;
	top:300px;
	color: black;
	font-family: BungeeHairline-Regular;
}

#contact{
	z-index: 1;
	position:absolute;
	font-size: 15px;
	right:5px;
	bottom:-300px;
	color: black;
	font-family: BungeeHairline-Regular;
}

/* WORK HOME PAGE */
#my_work{
	float: center;
	font-size: 50px;
	color: black;
	font-family: BungeeOutline-Regular;
}

#music{
	position: absolute;
	top:40%;
	right:10%;
	font-size: 30px;
	color: black;
	margin:0;
	font-family: BungeeOutline-Regular;
}

#video{
	position: absolute;
	top:40%;
	right:30%;
	font-size: 30px;
	color: black;
	margin:0;
	font-family: BungeeOutline-Regular;
}

#digital{
	position: absolute;
	top:40%;
	left:10%;
	font-size: 30px;
	color: black;
	margin:0;
	font-family: BungeeOutline-Regular;
}
#installation{
	position: absolute;
	top:40%;
	left:30%;
	font-size: 30px;
	color: black;
	margin:0;
	font-family: BungeeOutline-Regular;
}
#erase{
	position: absolute;
	font-family: BungeeHairline-Regular;
	bottom:5%;
	right:5%;
	font-size:20px;
}

/*  Music */
#about_music {
	z-index:1;
	color:black;
	text-align: center;
	position: relative;
	/* font-family: Nosifer-Regular; */
	font-family: BungeeHairline-Regular;
	font-size:18px;
}
#text{
	text-align: left;
	z-index: 2;
	font-family: BungeeHairline-Regular;
}
#one_of_many {
	position: absolute;
	margin-top: 100px;
	left:10%;
	font-family: BungeeHairline-Regular;
}
#tiny_shed_8 {
	position: absolute;
	margin-top: 100px;
	right:10%;
	font-family: BungeeHairline-Regular;
}
#tiny_shed_garden {
	position: absolute;
	margin-top: 500px;
	right:10%;
	font-family: BungeeHairline-Regular;
}
#tiny_shed_pennies {
	position: absolute;
	margin-top: 500px;
	left:10%;
	font-family: BungeeHairline-Regular;
}
#haters_get_dumber {
	position: absolute;
	margin-top: 850px;
	left: 10%;
	font-family: BungeeHairline-Regular;
}

#blooper {
	position: absolute;
	margin-top: 850px;
	right: 5%;
	font-family: BungeeHairline-Regular;
}

#moszkowski {
	position: absolute;
	margin-top: 1290px;
	left: 10%;
	font-family: BungeeHairline-Regular;
}

#fantaisie{
	position: absolute;
	margin-top: 1290px;
	right: 10%;
	font-family: BungeeHairline-Regular;
}

/* Video */
/* video {
	width: 90%;
	height: auto;
} */
#blooper_punk_singers{
	position: absolute;
	top:195px;
	left: 50%;
	margin-left: -400px;
	font-family: BungeeHairline-Regular;
}
#ocean_acid{
	position: absolute;
	top:750px;
	left: 50%;
	margin-left: -400px;
	font-family: BungeeHairline-Regular;
}
#powerpoint{
	position: absolute;
	top:1350px;
	left: 50%;
	margin-left: -400px;
	font-family: BungeeHairline-Regular;
}
#excel{
	position: absolute;
	top:1950px;
	left: 50%;
	margin-left: -400px;
	font-family: BungeeHairline-Regular;
}
#groupon{
	position: absolute;
	top:3150px;
	left: 50%;
	margin-left: -400px;
	font-family: BungeeHairline-Regular;
}
#joe_adamik{
	position: absolute;
	top:2550px;
	left: 50%;
	margin-left: -400px;
	font-family: BungeeHairline-Regular;

}

/* Installation */

#scrim1{
	position: absolute;
	left: 50%;
	margin-left: -350px;
	top:200px;
	font-family: BungeeHairline-Regular;
}
#scrim2{
	position: absolute;
	left: 5%;
	top:660px;
	font-family: BungeeHairline-Regular;
}
#scrim3{
	position: absolute;
	right: 5%;
	top:660px;
	font-family: BungeeHairline-Regular;
}
#scrim4{
	position: absolute;
	left: 50%;
	margin-left: -260px;
	top:1050px;
	font-family: BungeeHairline-Regular;
}

#scrim_projection_description{
	position: absolute;
	text-align: center;
	top:1450px;
	font-family: BungeeHairline-Regular;
	font-size:20px;
	left:8%;
	right:8%;
}


#speculative_TV_vid{
	position: absolute;
	left: 50%;
	margin-left: -450px;
	top:1750px;
	font-family: BungeeHairline-Regular;
}

#tv_blue{
	position: absolute;
	left: 3%;
	top:2650px;
	font-family: BungeeHairline-Regular;
}
#tv_red{
	position: absolute;
	right: 3%;
	top:2650px;
	font-family: BungeeHairline-Regular;
}
#tv_blank{
	position: absolute;
	left:5%;
	/* margin-right:80px; */
	top:2350px;
	font-family: BungeeHairline-Regular;
}
#patcher{
	position: absolute;
	right:5%;
	/* margin-right:80px; */
	top:2350px;
	font-family: BungeeHairline-Regular;
}
#tv_description{
	position: absolute;
	text-align: center;
	top:2750px;
	font-family: BungeeHairline-Regular;
	font-size:20px;
	left:8%;
	right:8%;
}

/* graphics */
#teeth{
	position: absolute;
	top:30%;
	left:15%;
	font-family: BungeeHairline-Regular;
}

#milk{
	position: absolute;
	top:30%;
	right:15%;
	font-family: BungeeHairline-Regular;
}

#choke{
	position: absolute;
	top:90%;
	left:5%;
	font-family: BungeeHairline-Regular;
}
#water{
	position: absolute;
	top:90%;
	right:5%;
	font-family: BungeeHairline-Regular;
}
#photoshop_description{
	position: absolute;
	top:150%;
	text-align: center;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

#internet_hotspot{
	position: absolute;
	top:170%;
	text-align: center;
	left:50%;
	margin-left:-300px;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

#drawing_sparse{
	position: absolute;
	top:230%;
	left:50%;
	margin-left:-300px;
	z-index:1;

}

#drawing_condensed{
	position: absolute;
	top:280%;
	left:50%;
	margin-left:-255px;

}

#drawing_description{
	position: absolute;
	top:335%;
	text-align: center;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

#albers1{
	position: absolute;
	top:360%;
	left:10%;
}
#albers2{
	position: absolute;
	top:360%;
	right:10%;
}

#albers_description{
	position: absolute;
	top:420%;
	text-align: center;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

#church_left{
	position: absolute;
	top:440%;
	left:5%;
}

#church_right{
	position: absolute;
	top:440%;
	right:5%;
}

#church_description{
	position: absolute;
	top:490%;
	text-align: center;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

/* OLD Boxes */
#boxes{
  margin-top:10%;
}

#boxes .box{
  float:left;
  text-align: center;
	/* align: center; */
  width:40%;
  padding:10px;
  list-style-type: none;
}

#boxes .box img{
  width:150px;
	font-family: Nosifer-Regular;

}
@media(max-width:768px){

	#luisa {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translate(-50%, 0);
		font-family: BungeeOutline-Regular;
		font-size: 30px;
		color: black;
	}
	
	#index-about{
		position: absolute;
		top: 400px;
		left: 5%;
		/* transform: translate(-50%, 0); */
		font-family: BungeeOutline-Regular;
		text-align: center;
		font-size: 20px;
		color: black;
	}
	
	#index-projects{
		position: absolute;
		top: 400px;
		right: 5%;
		/* transform: translate(-50%, 0); */
		font-family: BungeeOutline-Regular;
		text-align: center;
		font-size: 20px;
		color: black;
	}

#new_boxes .left {
	margin:auto;
	margin-top:20%;
	margin-left:10%;
}
#new_boxes .right {
	margin:auto;
	margin-top:20%;
}

#new_boxes .box img{
	width:130px;
}

/* ABOUT PAGE */

#about_title {
	position: absolute;
	top: 0px;
	left: 50%;
	max-width: 100%;
    transform: translate(-50%, 0);
	font-family: BungeeOutline-Regular;
	font-size: 35px;
}

#pic {
	position: absolute;
	top: 90px;
	left: 50%;
    transform: translate(-50%, 0);
  }

#about {
	position:absolute;
	z-index:1;
	color:black;
	top:1000px;
	left:50%;
	margin-bottom: 50px;
	transform: translate(-50%, 0);
	width:80%;
	/* background: #ADD8E6; */
	font-family: BungeeHairline-Regular;
	font-size:20px;
}

#click{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);	
	z-index:1;
	top: 600px;
	font-family: BungeeHairline-Regular;
	font-size:30px;
}

#research{
	max-width:70%;
	z-index: 2;
	position:absolute;
	font-size: 16px;
	left: 50%;
	transform: translate(-50%, 0);	
	top:650px;
	color: black;
	font-family: BungeeHairline-Regular;
}

#videogame{
	max-width:70%;
	z-index: 2;
	position:absolute;
	font-size: 16px;
	left: 50%;
	transform: translate(-50%, 0);	
	top:750px;
	color: black;
	font-family: BungeeHairline-Regular;
}


#linkedin{
	max-width:78%;
	z-index: 2;
	position:absolute;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 16px;
	top:850px;
	color: black;
	font-family: BungeeHairline-Regular;
}

#github{
	max-width:28%;
	z-index: 2;
	position:absolute;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 16px;
	top:900px;
	color: black;
	font-family: BungeeHairline-Regular;
}


#contact{
	z-index: 1;
	position:absolute;
	font-size: 15px;
	right:5px;
	bottom:-1300px;
	color: black;
	font-family: BungeeHairline-Regular;
}


/* WORK HOME PAGE */
#my_work{
	float: center;
	font-size: 50px;
	color: black;
	font-family: BungeeOutline-Regular;
}

#music{
	position: absolute;
	top:40%;
	right:10%;
	font-size: 30px;
	color: black;
	font-family: BungeeOutline-Regular;
}

#video{
	position: absolute;
	margin-top:20%;
	right:30%;
	font-size: 30px;
	color: black;
	font-family: BungeeOutline-Regular;
}

#installation{
	position: absolute;
	top:70%;
	left:15%;
	font-size: 30px;
	color: black;
	font-family: BungeeOutline-Regular;
}
#digital{
	position: absolute;
	top:30%;
	left:10%;
	font-size: 30px;
	color: black;
	font-family: BungeeOutline-Regular;
}

/*  Music */
#about_music {
	z-index:1;
	color:black;
	text-align: center;
	position: relative;
	/* font-family: Nosifer-Regular; */
	font-family: BungeeHairline-Regular;
	font-size:18px;
}
#text{
	text-align: left;
	z-index: 2;
	font-family: BungeeHairline-Regular;
}
#one_of_many {
	position: absolute;
	top: 190px;
	left:10%;
	font-family: BungeeHairline-Regular;
}
#tiny_shed_8 {
	position: absolute;
	top: 550px;
	left:10%;
	font-family: BungeeHairline-Regular;
}
#tiny_shed_garden {
	position: absolute;
	top: 500px;
	left:10%;
	z-index:5;
	font-family: BungeeHairline-Regular;
}
#tiny_shed_pennies {
	position: absolute;
	top: 840px;
	left:10%;
	font-family: BungeeHairline-Regular;
}
#haters_get_dumber {
	position: absolute;
	top: 820px;
	left: 10%;
	font-family: BungeeHairline-Regular;
}

#blooper {
	position: absolute;
	top: 1180px;
	left: 10%;
	font-family: BungeeHairline-Regular;
}

#moszkowski {
	position: absolute;
	top: 1230px;
	left: 10%;
	font-family: BungeeHairline-Regular;
}

#fantaisie{
	position: absolute;
	top: 1500px;
	left: 10%;
	font-family: BungeeHairline-Regular;
}

/* Video */
video {
	width: 90%;
	height: auto;
}
#blooper_punk_singers{
	position: absolute;
	top:230px;
	left:450px;
	font-family: BungeeHairline-Regular;
}

#ocean_acid{
	position: absolute;
	top:650px;
	left:450px;
	font-family: BungeeHairline-Regular;
}
#powerpoint{
	position: absolute;
	top:1070px;
	left:450px;
	font-family: BungeeHairline-Regular;
}
#excel{
	position: absolute;
	top:1490px;
	left:450px;
	font-family: BungeeHairline-Regular;
}
#groupon{
	position: absolute;
	top:1910px;
	left:450px;
	font-family: BungeeHairline-Regular;
}
#joe_adamik{
	position: absolute;
	top:2330px;
	left:450px;
	font-family: BungeeHairline-Regular;

}

/* Installation */

#scrim1{
	position: absolute;
	left: 50%;
	margin-left: -350px;
	top:200px;
	font-family: BungeeHairline-Regular;
}
#scrim2{
	position: absolute;
	left: 5%;
	top:660px;
	font-family: BungeeHairline-Regular;
}
#scrim3{
	position: absolute;
	right: 5%;
	top:660px;
	font-family: BungeeHairline-Regular;
}
#scrim4{
	position: absolute;
	left: 50%;
	margin-left: -260px;
	top:1050px;
	font-family: BungeeHairline-Regular;
}

#scrim_projection_description{
	position: absolute;
	text-align: center;
	top:1450px;
	font-family: BungeeHairline-Regular;
	font-size:20px;
	left:8%;
	right:8%;
}


#speculative_TV_vid{
	position: absolute;
	left: 50%;
	margin-left: -450px;
	top:1750px;
	font-family: BungeeHairline-Regular;
}

#tv_blue{
	position: absolute;
	left: 3%;
	top:2650px;
	font-family: BungeeHairline-Regular;
}
#tv_red{
	position: absolute;
	right: 3%;
	top:2650px;
	font-family: BungeeHairline-Regular;
}
#tv_blank{
	position: absolute;
	left:5%;
	/* margin-right:80px; */
	top:2350px;
	font-family: BungeeHairline-Regular;
}
#patcher{
	position: absolute;
	right:5%;
	/* margin-right:80px; */
	top:2350px;
	font-family: BungeeHairline-Regular;
}
#tv_description{
	position: absolute;
	text-align: center;
	top:2750px;
	font-family: BungeeHairline-Regular;
	font-size:20px;
	left:8%;
	right:8%;
}

/* graphics */
#teeth{
	position: absolute;
	top:35%;
	left:50%;
	margin-left:-115px;
	font-family: BungeeHairline-Regular;
}

#milk{
	position: absolute;
	top:90%;
	left:50%;
	margin-left:-120px;
	font-family: BungeeHairline-Regular;
}

#choke{
	position: absolute;
	top:145%;
	left:50%;
	margin-left:-175px;
	font-family: BungeeHairline-Regular;
}
#water{
	position: absolute;
	top:195%;
	z-index:2;
	left:50%;
	margin-left:-175px;
	font-family: BungeeHairline-Regular;
}
#photoshop_description{
	position: absolute;
	top:250%;
	z-index:2;
	text-align: center;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

#internet_hotspot{
	position: absolute;
	top:280%;
	text-align: center;
	left:50%;
	margin-left:-280px;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

#drawing_sparse{
	position: absolute;
	top:355%;
	left:50%;
	margin-left:-300px;
	z-index:1;

}

#drawing_condensed{
	position: absolute;
	top:400%;
	left:50%;
	margin-left:-255px;

}

#drawing_description{
	position: absolute;
	top:450%;
	z-index:2;
	text-align: center;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

#albers1{
	position: absolute;
	top:600%;
	left:10%;
}
#albers2{
	position: absolute;
	top:600%;
	right:10%;
}

#albers_description{
	position: absolute;
	top:600%;
	text-align: center;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

#church_left{
	position: absolute;
	top:600%;
	left:5%;
}

#church_right{
	position: absolute;
	top:600%;
	right:5%;
}

#church_description{
	position: absolute;
	top:490%;
	text-align: center;
	font-family: BungeeHairline-Regular;
	font-size: 18px;
}

}

}
